<!DOCTYPE html>
<html>
<head>
    <title>business</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Cabin|Montserrat|Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/business1.css" />
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#product">PRODUCT</a></li>
                    <li><a href="#company">COMPANY</a></li>
                    <li><a href="#details">DETAILS</a></li>
                    <li><a href="#designers">DESIGNERS</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="partone" >

        <div class="switch">
            <input type="checkbox" id="switch__checkbox" />
            <label for="switch__checkbox" class="switch__label">
                <span class="switch__circle">
                </span>
            </label>
        </div>
        
        <div class="partonetitle"></div>
        <div class="partonetitle2 "></div>
        <div class="toggle">
            <span>ON</span>
            <span>OFF</span>
        </div>
    </div>

    <div class="third container-fluid" id="product">
        <div class="thirdtitle"></div>
        <div class="mainproduct">
            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Products</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab" >
                    <div class="slider">
                        <div class="slideview">
                                <div class="slide2"></div>
                                <div class="slide2"></div>
                                <div class="slide2"></div>
                        </div>
                    </div>
                    <div class="slide_buttons">
                    </div>
                    <div class="sameheight">
                        <div class="previous_btn">&laquo;</div>
                        <div class="next_btn">&raquo;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blank2"></div>
    <div class="container-fluid secondone" id="company">

           
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="textone slideanim">
                            <img src="../static/picture1.jpg"/>
                        </div>
                        <div class="textone">
                            <div class="company">Design</div>
                            <div class="companyintro">fwefji fwejifj wfjeij fwjiejfo fweijfo fjwiejf wjfeie fwjieojf fwejij dijf oja jdi 
                            qwe i qweoi qweoi qweiop qweoi qwoieq ewfwe wefwea afe fwefji
                             fwejifj wfjeij fwjiejfo fweijfo fjwiejf wjfeie fwjieojf fwejij dijf oja jdi fjwiejf wjfeie fwjieojf fwejij dijf oja jdi</div>
                        </div>
                        <div class="textone slideanim">
                            <img src="../static/picture2.jpg" />
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="texttwo">
                            <div class="design">Our Company</div>
                            <div class="designintro">ieru eiruiw riuiw riiw iuiwer iuoewr iuier iiower iiwer oiue iuoer ioope iouoer oioewr oiuowe 
                            iore oiiowqe iouoewr iouowe  oiuewr oiuewr oiuwer iore oiiowqe iouoewr iouowe  oiuewr oiuewr oiuwer</div>
                        </div>
                        <div class="texttwo slideanim">
                            <img src="../static/picture3.jpg" />
                        </div>
                        <div class="texttwo">
                            <div class="design">Fix Guarantee</div>
                            <div class="designintro">sfewi fwjeoi wsoefjwe oijadw wreop wqroip qweipo qwropi qweoi qoeui wroiuoiq eoior oqiwueo  eri 
                            qwieuoi euoiqwre qweuo qqweuo wqeuoi qweuo qqweuo wepoi fwjeoi wsoefjwe oijadw wreop wqroip qweipo qwropi</div>
                        </div>
                    </div>
                    </div>

            </div>
            <div class="blank2"></div>
            <div class="blank2"></div>
            <div class="container-fluid forth" id="details">
                <div class="forthtitle">
                    <div class="detail">Details and Dimensions</div>
                    <div class="detailintro">try to drag the handle</div>
                </div>
                <div class="wrapper">
                    <div class="drag-wrap">
                        <span id="draggable"></span>
                    </div>
                    <div class="showpart">
                        <div class="box1">
                            <img src="/static/six-1.png" id="picture1" />
                        </div>
                        <div class="box2">
                            <img src="/static/six-2.png" id="picture" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="blank2"></div>
            <div class="container-fluid" id="designers">
                <div class="fifthpanel">
                    <div class="fifthtitle">Designers</div>
                    <div class="fifthplatform container-fluid">
                        <div class="row">
                            <div class="thumbnail col-md-4">
                                <img src="/static/profile2.jpg" alt="" class="img-circle slideanim">
                                <div class="caption">
                                    <p>Adwoj Few</p>
                                </div>
                            </div>
                            <div class="thumbnail col-md-4">
                                <img src="/static/profile2.jpg" alt="" class="img-circle slideanim">
                                <div class="caption">
                                    <p>Tewoj Wew</p>
                                </div>
                            </div>
                            <div class="thumbnail col-md-4">
                                <img src="/static/profile2.jpg" alt="" class="img-circle slideanim">
                                <div class="caption">
                                    <p>Dfjie Fweij</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fifthbutton">
                        <div class="readmore">
                            MORE
                        </div>
                    </div>
                </div>
            </div>
            <div class="blank2"></div>
            <div class="container-fluid sixth" id="contact">
                <div class="row col-md-4 col-md-offset-2">
                    <div class="forshine">
                        <div id="shine" class="shine-logo slideanim">Contact</div>
                    </div>
                </div>
                <div class="row col-md-4">
                    <form class="slideanim col-md-12 ">
                        <input class="name" type="text" placeholder="NAME" />
                        <input class="name" type="text" placeholder="E-MAIL" />
                        <textarea class="message col-md-12" rows="4" placeholder="MESSAGE"></textarea>
                        <button class="submitbutton">Submit</button>
                    </form>
                </div>
            </div>
            <div class="seventh"></div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script src="https://unpkg.com/draggabilly@2.1/dist/draggabilly.pkgd.min.js"></script>
            <script src="/static/shine.js-master/dist/shine.min.js"></script>
            <script src="/static/business1.js"></script>

</body>
</html>
